<header>
    <div >
    <nav class="navbar navbar-expand-md navbar-dark bg-dark aling" >
        
            <ul class="navbar-nav">
                <li><a  routerLink="/home" class ="nav-link">Home</a></li>
                <li><a *ngIf="!hardcodeAuthenticationService.isUserLoggedIn()" routerLink="/register" class ="nav-link">Register</a></li>
                <li><a *ngIf="hardcodeAuthenticationService.isUserLoggedIn() && hardcodeAuthenticationService.admin" routerLink="/admin_panel" class ="nav-link">Admin Panel</a></li>
                <li><a *ngIf="hardcodeAuthenticationService.isUserLoggedIn() && hardcodeAuthenticationService.user" routerLink="/user_panel" class ="nav-link">User Panel</a></li>
                
            </ul>
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!hardcodeAuthenticationService.isUserLoggedIn()" routerLink="/login" class ="nav-link">Login</a></li>
                <li><a *ngIf="hardcodeAuthenticationService.isUserLoggedIn()" routerLink="/logout" class ="nav-link">Logout</a></li>
            </ul>
        
    </nav>
    </div>
</header>
<!-- *ngIf="hardcodeAuthenticationService.isUserLoggedIn()" -->